<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lacy Dog Directory</title>
  </head>
  <body>
      <h1>New Entry</h1>
      <div>
    <form class="form-group" action="/registry" method="POST">
            Name: <input type="text" name="name" /><br/>
            Color: <input type="text" name="color" /><br/>
            Sex: <input type="text" name="sex" /><br/>
            Kennel: <input type="text" name="kennel" /><br/>
            Birthdate: <input type="date" name="birthdate" /><br/>
            <input type="submit" name="" value="Create Entry"/>
        </form>
        </div>
  </body>
</html>
