
.row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px 0 0 0;
}

.form-group {
  width: 100%
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  align-self: flex-end;
}
